header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}


nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px #000000 dotted;
    border-radius: 20px;

}

.productos li:hover{
    border-color: #c78c19;

}

.productos li:active{
    border-color: #088c19;
}
.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}

.product-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(./imagenes/bg.jpg);
    padding: 40px;
}

.pie{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label {

    font-size: 20px;
    margin: 0 0 10px;
}

form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

form label {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

form label, form legend {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input {
    display: inline;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 10%;
}

.checkbox {
    margin: 20px 0;

}

.enviar{
    width: 50%;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border-radius: 5px;
    border: none;
}

.enviar:hover{
    background: red;
    font-size: 30px;
    transition: 5s;
    cursor: pointer;
    transform: scale(1.2);

}
table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}